div {
  width: 500px;
  height: auto;
  border: 1px solid black;
  padding: 10px;
  margin: auto;
  background-color: rgb(185, 183, 183);
  border: none;
  box-shadow: 3px 3px 4px black;
}

p,
button {
  font-size: 3rem;
  border-radius: 10%;
  border-color: blue;
}

p {
  margin-left: 200px;
}

#image {
  width: 15rem;
  height: 15rem;
  position: relative;
  left: 100px;
  top: 100px;
}

#image {
  border: 10px solid blue;
}

#image:active {
  transform: scale(1.1, 1.1);
  transition: all linear 0.5s;
}

p {
  position: relative;
  top: 3rem;
  z-index: 5;
}

h1 {
  position: relative;
  top: 3rem;
}

#nav1 {
  width: 3rem;
}

#nav2 {
  width: 3rem;
}
